<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <niks_layered_navigation>
            <general>
                <ajax>0</ajax>
                <friendly_urls>0</friendly_urls>
                <slider>0</slider>
                <accordion>0</accordion>
            </general>
        </niks_layered_navigation>
    </default>
</config>
