<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="categoryFilterList" type="Magento\Catalog\Model\Layer\FilterList">
        <arguments>
            <argument name="filters" xsi:type="array">
                <item name="attribute" xsi:type="string">Niks\LayeredNavigation\Model\Layer\Filter\Attribute</item>
                <item name="price" xsi:type="string">Niks\LayeredNavigation\Model\Layer\Filter\Price</item>
                <item name="decimal" xsi:type="string">Niks\LayeredNavigation\Model\Layer\Filter\Decimal</item>
                <item name="category" xsi:type="string">Niks\LayeredNavigation\Model\Layer\Filter\Category</item>
            </argument>
        </arguments>
    </virtualType>
    <!--<virtualType name="searchFilterList" type="Magento\Catalog\Model\Layer\FilterList">-->
        <!--<arguments>-->
            <!--<argument name="filters" xsi:type="array">-->
                <!--<item name="attribute" xsi:type="string">Niks\LayeredNavigation\Model\Layer\Filter\Attribute</item>-->
            <!--</argument>-->
        <!--</arguments>-->
    <!--</virtualType>-->
    <type name="Magento\Catalog\Model\Layer\Filter\ItemFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Niks\LayeredNavigation\Model\Layer\Filter\Item</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Layer\Resolver">
        <arguments>
            <argument name="layersPool" xsi:type="array">
                <item name="category" xsi:type="string">Niks\LayeredNavigation\Model\Layer\Category</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\LayeredNavigation\Block\Navigation\FilterRenderer">
        <plugin name="swatches_layered_renderer" type="Niks\LayeredNavigation\Plugin\FilterRenderer" sortOrder="1" />
    </type>
    <virtualType name="Niks\LayeredNavigation\Model\ResourceModel\Fulltext\CollectionFactory" type="Magento\Catalog\Model\ResourceModel\Product\CollectionFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Niks\LayeredNavigation\Model\ResourceModel\Fulltext\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\CatalogSearch\Model\Layer\Category\ItemCollectionProvider">
        <arguments>
            <argument name="collectionFactory" xsi:type="object">Niks\LayeredNavigation\Model\ResourceModel\Fulltext\CollectionFactory</argument>
        </arguments>
    </type>
</config>
